@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Noto+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap');

h1{
	font-family: 'Dancing Script', cursive;
	font-family: 'Noto Serif', serif;
	color: black;
	font-weight: bold;
	text-align: left;
	margin-bottom: 25px;
}

 p{
	font-size: 20px;
	color: black;
	text-align: left;
}


moth-card{
    background-image:url('/assets/background-spices.jpg');
   }
   .example-card {
      max-width:500px;
      margin-block-end:50px;
      margin-top:30px;
      margin-left:100px;
      display:inline-block;
     } 
   button {
     background-color: palevioletred;
    }
   
   /* .example-header-image {
      background-image: url('/assets/biryani.jpg');
      background-size:cover;
    } */
   .example-header-image {
     background-image: url('/assets/biryani.jpg');
     background-size:cover;
   }
   .example-card {
     max-width: 300px;
     margin-block-end:50px;
     margin-top:30px;
     margin-left:100px;
     display:inline-block;
    } 
   
   .example-header-image {
     background-image: url('/assets/instant.jpg');
     background-size:cover;
   }
   
   .example-card {
     max-width: 300px;
     margin-block-end:50px;
     margin-top:30px;
     margin-left:100px;
     display:inline-block;
    } 
    .example-header-image{
     background-image:url('/assets/pickles.jpg') ;
     background-size: cover;
   }
   
 .example-card{
  overflow: hidden;
}
.example-card img{
  /* width: 100%; */
  transition: 1s;
}
.example-card img:hover{
  transform: scale(1.2);
  cursor: pointer;
}