
  <div class="row">
    <div class="col-md-12">
<h1>FUSION RECIPES</h1>
<p>If your husband raves about the fabulous Samosas his mother makes... and your children always
  drool over the superb pav bhaji at your neighbour's place, it's time you showed them what you can 
  do! It's quite simple, really. Provided you have Everest and the tips and pointers on how to use 
  its blends to make a variety of dishes you never thought possible... all in your very own home.
So, what will it be? Samosas or Batata Wadas... Dum Aloo or Dosas... Papdi Chaat or Methi Parathas...
 You can prepare anything - with ease, with confidence, knowing it will turn out just right. So go
  ahead, discover the joy of trying out a new recipe every day, every week, week after week, 
  and having it turn out perfect, every single time!
</p>
<p><b>Join the party and show everybody what's cooking!</b></p>
</div>
</div>


  <div class="row">
  <div class="col-md-3">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Biryani </mat-card-title>
      <mat-card-subtitle>MANGALAM</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/biryani.jpg" alt="Mangalam-Spices">
    <mat-card-content>
      <p>
        <b>Make the Delicious Biryani with Mangalam Biryani Masala.</b>
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button matbutton routerLink="blended-spices">Click Here</button>
    </mat-card-actions>
  </mat-card>
  </div>
  <div class="col-md-3">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Biryani </mat-card-title>
        <mat-card-subtitle>MANGALAM</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/biryani.jpg" alt="Mangalam-Spices">
      <mat-card-content>
        <p>
          <b>Make the Delicious Biryani with Mangalam Biryani Masala.</b>
        </p>
      </mat-card-content>
  
      <mat-card-actions>
        <button matbutton routerLink="blended-spices">Click Here</button>
      </mat-card-actions>
    </mat-card>
    </div>
<div class="col-md-3">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Chicken</mat-card-title>
      <mat-card-subtitle>MANGALAM</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/card2.jpg" alt="Mangalam-Spices">
    <mat-card-content>
      <p>
        <b>Make the Delicious Chicken with Mangalam Chicken Masala.</b>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button matbutton routerLink="ground-spices">Click here</button>

      
    </mat-card-actions>
  </mat-card>
  </div>



  <div class="col-md-3">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Biryani </mat-card-title>
        <mat-card-subtitle>MANGALAM</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/biryani.jpg" alt="Mangalam-Spices">
      <mat-card-content>
        <p>
          <b>Make the Delicious Biryani with Mangalam Biryani Masala.</b>
        </p>
      </mat-card-content>
  
      <mat-card-actions>
        <button matbutton routerLink="blended-spices">Click Here</button>
      </mat-card-actions>
    </mat-card>
    </div>
</div>

<div class="row">
  <div class="col-md-3">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Biryani </mat-card-title>
        <mat-card-subtitle>MANGALAM</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/biryani.jpg" alt="Mangalam-Spices">
      <mat-card-content>
        <p>
          <b>Make the Delicious Biryani with Mangalam Biryani Masala.</b>
        </p>
      </mat-card-content>
  
      <mat-card-actions>
        <button matbutton routerLink="blended-spices">Click Here</button>
      </mat-card-actions>
    </mat-card>
    </div>
  <div class="col-md-3">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Biryani </mat-card-title>
      <mat-card-subtitle>MANGALAM</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/biryani.jpg" alt="Mangalam-Spices">
    <mat-card-content>
      <p>
        <b>Make the Delicious Biryani with Mangalam Biryani Masala.</b>
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button matbutton routerLink="blended-spices">Click Here</button>
    </mat-card-actions>
  </mat-card>
  </div>
<div class="col-md-3">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Chicken</mat-card-title>
      <mat-card-subtitle>MANGALAM</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/card2.jpg" alt="Mangalam-Spices">
    <mat-card-content>
      <p>
        <b>Make the Delicious Chicken with Mangalam Chicken Masala.</b>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button matbutton routerLink="ground-spices">Click here</button>

      
    </mat-card-actions>
  </mat-card>
  </div>



  <div class="col-md-3">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Biryani </mat-card-title>
        <mat-card-subtitle>MANGALAM</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/biryani.jpg" alt="Mangalam-Spices">
      <mat-card-content>
        <p>
          <b>Make the Delicious Biryani with Mangalam Biryani Masala.</b>
        </p>
      </mat-card-content>
        <mat-card-actions>
        <button matbutton routerLink="blended-spices">Click Here</button>
      </mat-card-actions>
    </mat-card>
    </div>
</div>
 

