.example-button-toggle-label {
    display: inline-block;
    margin: 16px;
  }

  .para h1{
    font-family: 'Dancing Script', cursive;
    font-family: 'Noto Serif', serif;
    color: black;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  .para h2{
    margin-top: 20px;
    font-family: 'Dancing Script', cursive;
      font-family: 'Noto Serif', serif;
    color: black;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
  }
  .para p{
    font-size: 20px;
    color: black;
    text-align: center;
  }