<div class="container-fluid">
<div class="row">
    <div class="col-md-12">
    <div class="para">
         <h1>Mangalam Masale</h1>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <div class="para">
         
        <p>The Power of Food is really Spiritual.
          It not only brings the whole family together on the same table,
          but also bring the whole world together.
          </p>
      </div>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-12">
        If you wish to know more about India's Largest Spice Company,
kindly fill the below form
    </div>
</div>

<div class="container-fluid">
    <div class="row">
       
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="">Name:</label>
                        <input type="text" name="clientname" class="form-control" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <label for="">Email:</label>
                        <input type="text" class="form-control" placeholder="Enter Email">
                    </div>

                    <div class="form-group">
                        <label for="">Contact:</label>
                        <input type="text" class="form-control" placeholder="Enter Contact">
                    </div>

                    <div class="form-group">
                        <label for="">Address:</label>
                        <textarea class="form-control" placeholder="Enter address"></textarea>

                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary">Submit</button>&nbsp;
                        <button type="button" class="btn btn-warning">Update</button>
                        <!-- <button type="button" class="btn btn-danger">Cancel</button> -->
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <h3>Address</h3>
            <p> Plot no 47, Swami Samarth Nagar,<br> Talathi Colony, Parola,<br> Maharashtra 425111</p>

                        <h3> Open now </h3>
            Thursday, 9am–6:30pm <br>
            Friday, 9am–6:30pm <br>
            Saturday, 9am–6:30pm <br>
            Sunday, 9am–6:30pm <br>
            Monday, Closed <br>
            Tuesday, 9am–6:30pm <br>
            Wednesday, 9am–6:30pm <br>
            <br>
            
            <h3> Conatact no. </h3>
            <p>9168134222</p> <br>
            <p> info@mangalamspices.in</p>
            
        </div>
        <div class="col-md-4">

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3727.8044695064605!2d75.13024801493016!3d20.879929986079222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd93705a7fcfcf5%3A0x519bd97268cd0cd6!2sMangalam%20spices!5e0!3m2!1sen!2sin!4v1612428396288!5m2!1sen!2sin"
                width="700" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>
    </div>
</div>
</div>
<div class="container">
    <div class="row">
        <br><br>
    </div>
</div>
