<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
        <div class="center">
          <img src="/assets/vaishu.jpeg" class="image">
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12"><br></div>
    </div>

  
      <div class="row">
        <div class="col-md-6">
          <h2>Mangalam Masale</h2>
          <p>The king of spices as the household name among the millions today, Mr......., the Founder
             of the Company was a small time turmeric trader, from a village called Perundurai near Erode. 
             He found SAKTHI TRADING COMPANY in 1975 and was doing Turmeric Trading for some time. 
             Later, he entered into the arena of pure spice powders like Turmeric, Chilli and Coriander.
            His inquisitiveness let him to enter into masala world with dauntless.
            He encountered a lot of hurdles, since selling masala powders during those days to the oriental 
            women who are traditionally conservative, was not that easy. It was the concept selling on
             "Easy Cooking" rather than marketing food products. With self -determination and persistent 
             attempts he was able to get into the kitchens of our country and the rest of the world. </p>
        </div>
      
          <div class="col-md-2"></div>
        
        <div class="col-md-4">
        <div class="card" style="width: 18rem;" >
          <img src="/assets/shannu.png" class="card-img-top" alt="..." >
          <div class="card-body">
            <h5 class="card-title">Mr. Shanmukh Jaswanth</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12"><br><br><br> </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card" style="width: 18rem;">
            <img src="/assets/shannu.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mr. Shanmukh Jaswanth</h5>
              </div>
            </div>
          </div>
        <div class="col-md-6">
          <h2>Mangalam Masale</h2>
          <p>The king of spices as the household name among the millions today, Mr.......,
             the Founder of the Company was a small time turmeric trader, 
             from a village called Parola in Maharashtra. He found MANGALAM MASALE COMPANY in 2020
              and was doing Turmeric Trading for some time. Later, he entered into the area of 
              pure spice powders like Turmeric, Chilli and Coriander. His inquisitiveness let him 
              to enter into masala world with dauntless.
            He encountered a lot of hurdles, since selling masala powders during those days 
            to the oriental women who are traditionally conservative, was not that easy. 
            It was the concept selling on "Easy Cooking" rather than marketing food products. 
            With self -determination and persistent attempts he was able to get into the kitchens 
            of our country and the rest of the world. </p>
        </div>
       
      </div>
    </div>
<div class="row">
  <div class="col-md-12"><br> </div>
</div>
<!-- <div class="container-fluid">
<div class="row">
  <div class="col-md-12">
  <div class="gallery">
    <h1> products</h1>
      <img src="/assets/image1.jpg" alt="" class="gallery_photo gallery_photo--1">
    <img src="/assets/biryani.jpg" alt="" class="gallery_photo gallery_photo--2">
    <img src="/assets/image1.jpg" alt="" class="gallery_photo gallery_photo--3">
    <img src="/assets/biryani.jpg" alt="" class="gallery_photo gallery_photo--4">
    <img src="/assets/image1.jpg" alt="" class="gallery_photo gallery_photo--5">
  </div>  
</div>
</div>
</div>
<div class="row">
  <div class="col-md-12"><br> </div>
</div> -->