@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Noto+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap');


.center img{
  width: 100%;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


   h2{
    font-family: 'Dancing Script', cursive;
    font-family: 'Noto Serif', serif;
    color: black;
    font-weight: bold;
    text-align: left;
    margin-bottom: 25px;
  }
  /* .para h2{
    margin-top: 20px;
    font-family: 'Dancing Script', cursive;
      font-family: 'Noto Serif', serif;
    color: black;
    font-weight: bold;
    text-align: left;
    margin-bottom: 25px;
  } */
   p{
    font-size: 20px;
    color: black;
    text-align: left;
  }



  .gallery{
    height: 90vh;
    /* width: 1000px; */
    /* margin: 0 auto; */
    padding-top:80px;
    background-color: black;
    text-align: center;
    padding-bottom: 65px;
    letter-spacing: 15px;
  }
  .gallery h1{
    color: cornflowerblue;
    text-transform: uppercase;
    padding-bottom: 65px;
  }
  .gallery_photo{
    width: 250px;
    height: 250px;
    border-radius: 2px;
    box-shadow: 0 20px 40px rgba(0, 0,0,0.4);
    position: relative;
   outline-offset: 20px;
   transition: all 0.2s; 
  }
  .gallery_photo--1{
    margin-right: 0;
    top: 100px;
    left: 150px;
  }

  .gallery_photo--2{
    top: 50px;
    left: 100px;
 
  }

  .gallery_photo--3{
    top: 0px;
    left: 5px;
    z-index: 2;
  }

  .gallery_photo--4{
    top: 50px;
    left:-100px;
    z-index: 1;
  }
  .gallery_photo--5{
    top: 100px;
    left: -150px;

  }
.gallery_photo:hover{
  outline: 15px solid #14addc;
  transform: scale(1.05) translateY(-20px);
  z-index: 20;
}
.gallery:hover .gallery_photo:not(:hover){
  transform: scale(0.9);
}