<div class="container">
        
    
     <div class="row">
         <div class= "col-md-12">
             <p>Make Delicious food with our Mangalam Spices</p>
         </div>
     
    

    <div class="row">
        <div class="col-md-4">
            <mat-card class="example-card">
                <!-- <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>RED CHILLI SPICES</mat-card-title>
                    <mat-card-subtitle>MANGALAM</mat-card-subtitle>
                </mat-card-header> -->
                <img mat-card-image src="/assets/re.jpg" alt="Mangalam-Spices">
                <mat-card-content>
                    <h6>
                        <b>RED CHILLI SPICES</b>
                    </h6>
                </mat-card-content>

                <!-- <mat-card-actions>
        <button matbutton routerLink="blended-spices">Blended spices</button>
      </mat-card-actions> -->
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
<!-- <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>RED CHILLI SPICES</mat-card-title>
                    <mat-card-subtitle>MANGALAM</mat-card-subtitle>
                </mat-card-header> -->
                <img mat-card-image src="/assets/re.jpg" alt="Mangalam-Spices">
                <mat-card-content>
                    <h6>
                        <b>Dhaniya Powder</b>
                    </h6>
                </mat-card-content>

                <!-- <mat-card-actions>
            <button matbutton routerLink="blended-spices">Blended spices</button>
          </mat-card-actions> -->
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <!-- <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>RED CHILLI SPICES</mat-card-title>
                    <mat-card-subtitle>MANGALAM</mat-card-subtitle>
                </mat-card-header> -->
                <img mat-card-image src="/assets/biryani.jpg" alt="Mangalam-Spices">
                <mat-card-content>
                    <h6>
                        <b>RED CHILLI SPICES</b>
                    </h6>
                </mat-card-content>

                <!-- <mat-card-actions>
                <button matbutton routerLink="blended-spices">Blended spices</button>
              </mat-card-actions> -->
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <mat-card class="example-card">
                <!-- <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>RED CHILLI SPICES</mat-card-title>
                    <mat-card-subtitle>MANGALAM</mat-card-subtitle>
                </mat-card-header> -->
                <img mat-card-image src="/assets/haldi.jpg" alt="Mangalam-Spices">
                <mat-card-content>
                    <h6>
                        <b>RED CHILLI SPICES</b>
                    </h6>
                </mat-card-content>

                <!-- <mat-card-actions>
        <button matbutton routerLink="blended-spices">Blended spices</button>
      </mat-card-actions> -->
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
<!-- <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>RED CHILLI SPICES</mat-card-title>
                    <mat-card-subtitle>MANGALAM</mat-card-subtitle>
                </mat-card-header> -->
                <img mat-card-image src="/assets/dhaniya.jpg" alt="Mangalam-Spices">
                <mat-card-content>
                    <h6>
                        <b>RED CHILLI SPICES</b>
                    </h6>
                </mat-card-content>

                <!-- <mat-card-actions>
            <button matbutton routerLink="blended-spices">Blended spices</button>
          </mat-card-actions> -->
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <!-- <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>RED CHILLI SPICES</mat-card-title>
                    <mat-card-subtitle>MANGALAM</mat-card-subtitle>
                </mat-card-header> -->
                <img mat-card-image src="/assets/re.jpg" alt="Mangalam-Spices">
                <mat-card-content>
                    <h6>
                        <b>RED CHILLI SPICES</b>
                    </h6>
                </mat-card-content>

                <!-- <mat-card-actions>
                <button matbutton routerLink="blended-spices">Blended spices</button>
              </mat-card-actions> -->
            </mat-card>
        </div>
    </div>
   </div>
   </div>
