.ground{
    width:100%;
    height:40%;
   margin-top: 5%;
}
  /* {
    color: black;
    background-color: tomato;
    text-align:center;
    
    margin-bottom: 10%;
    font-size: 50px;
}  */
p{
  color:cornflowerblue;
  width:50%;
}
.mat-card{
    margin-bottom: 20%;
    margin-left: 20%;
    margin-right: 20%;
    
    
  }
  .mat-card-image{
      
    display: block;
    /* border: 55px !important;
    border-radius: 80px !important;
    border: #000 !important; */
  }
   /* p {
     font-family: Lato;
     color:purple;
   } */
   .mat-card-content{
       color:purple;
}