.ground{
    width:100%;
    height:80%;
   margin-top: 5%;
}
h1{
    color: black;
    /* background-color: tomato; */
    text-align:center;
    
    margin-bottom: 10%;
    font-size: 50px;
}

.mat-card{
    margin-bottom: 20%;
    margin-left: 20%;
    margin-right: 20%;
    
    
  }
  .mat-card-image{
      margin-top:20%;
    display: block;
    /* border: 55px !important;
    border-radius: 80px !important;
    border: #000 !important; */
  }
   /* p {
     font-family: Lato;
     color:purple;
   } */
   .mat-card-content{
       color:purple;
}