<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="assets/blended-spices1.jpg" class="ground">
        </div>
     <div class="row">
         <div class= "col-md-12">
             <h1><b><i>BLENDED SPICES</i></b></h1>
         </div>
     </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <mat-card class="example-card">
                <!-- <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>RED CHILLI SPICES</mat-card-title>
                    <mat-card-subtitle>MANGALAM</mat-card-subtitle>
                </mat-card-header> -->
                <img mat-card-image src="/assets/re.jpg" alt="Mangalam-Spices">
                <mat-card-content>
                    <h6>
                        <b>RED CHILLI SPICES</b>
                    </h6>
                </mat-card-content>

                <!-- <mat-card-actions>
        <button matbutton routerLink="blended-spices">Blended spices</button>
      </mat-card-actions> -->
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
<!-- <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>RED CHILLI SPICES</mat-card-title>
                    <mat-card-subtitle>MANGALAM</mat-card-subtitle>
                </mat-card-header> -->
                <img mat-card-image src="/assets/re.jpg" alt="Mangalam-Spices">
                <mat-card-content>
                    <h6>
                        <b>RED CHILLI SPICES</b>
                    </h6>
                </mat-card-content>

                <!-- <mat-card-actions>
            <button matbutton routerLink="blended-spices">Blended spices</button>
          </mat-card-actions> -->
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <!-- <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>RED CHILLI SPICES</mat-card-title>
                    <mat-card-subtitle>MANGALAM</mat-card-subtitle>
                </mat-card-header> -->
                <img mat-card-image src="/assets/re.jpg" alt="Mangalam-Spices">
                <mat-card-content>
                    <h6>
                        <b>RED CHILLI SPICES</b>
                    </h6>
                </mat-card-content>

                <!-- <mat-card-actions>
                <button matbutton routerLink="blended-spices">Blended spices</button>
              </mat-card-actions> -->
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <mat-card class="example-card">
                <!-- <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>RED CHILLI SPICES</mat-card-title>
                    <mat-card-subtitle>MANGALAM</mat-card-subtitle>
                </mat-card-header> -->
                <img mat-card-image src="/assets/re.jpg" alt="Mangalam-Spices">
                <mat-card-content>
                    <h6>
                        <b>RED CHILLI SPICES</b>
                    </h6>
                </mat-card-content>

                <!-- <mat-card-actions>
        <button matbutton routerLink="blended-spices">Blended spices</button>
      </mat-card-actions> -->
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
<!-- <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>RED CHILLI SPICES</mat-card-title>
                    <mat-card-subtitle>MANGALAM</mat-card-subtitle>
                </mat-card-header> -->
                <img mat-card-image src="/assets/re.jpg" alt="Mangalam-Spices">
                <mat-card-content>
                    <h6>
                        <b>RED CHILLI SPICES</b>
                    </h6>
                </mat-card-content>

                <!-- <mat-card-actions>
            <button matbutton routerLink="blended-spices">Blended spices</button>
          </mat-card-actions> -->
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <!-- <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>RED CHILLI SPICES</mat-card-title>
                    <mat-card-subtitle>MANGALAM</mat-card-subtitle>
                </mat-card-header> -->
                <img mat-card-image src="/assets/re.jpg" alt="Mangalam-Spices">
                <mat-card-content>
                    <h6>
                        <b>RED CHILLI SPICES</b>
                    </h6>
                </mat-card-content>

                <!-- <mat-card-actions>
                <button matbutton routerLink="blended-spices">Blended spices</button>
              </mat-card-actions> -->
            </mat-card>
        </div>
    </div>
   </div>
