<div class="container-fluid">
<div class="col-md-12">
    <div style="height: auto;">
        <mat-toolbar class="toolbar" color="primary">
            <div fxShow="true" fxHide.gt-sm="true">
                <a (click)="sidenav.toggle()">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
                </a>
            </div>
            <img src="/assets/logo.png" class="imglogo">
            <span class="example-spacer"></span>
            <div fxShow="true" fxHide.lt-md="true">
                <!-- The following menu items will be hidden on both SM and XS screen sizes -->
                
                <a routerLink="/home" mat-button>Home</a>
                <a routerLink="contact-us" mat-button>Contact-us</a>
                <a routerLink="about-us" mat-button>About-us</a>
                <a routerLink="products" mat-button>Products</a>
                <a routerLink="Recipies" mat-button>Recipies</a>
                <a routerLink="buy" mat-button>Buy </a>
            </div>
        </mat-toolbar>
    </div>

    <mat-sidenav-container fxFlexFill class="example-container">
        <mat-sidenav #sidenav fxLayout="column">
            <div fxLayout="column">
                <a (click)="sidenav.toggle()" href="#" mat-button>Close</a>
                <a routerLink="/home" mat-button>Home</a>
                <a routerLink="contact-us" mat-button>Contact-us</a>
                <a routerLink="about-us" mat-button>About-us</a>
                <a routerLink="products" mat-button>Products</a>
                <a routerLink="Recipies" mat-button>Recipies</a>
                <a routerLink="buy" mat-button>Buy</a>
            </div>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<!--navbar ends -->

<!-- footer begin -->
<footer class="footer-section">
        <div class="col-md-12">
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-2 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html"><img src="assets/logo.png" class="img-fluid" alt="logo"></a>
                            </div>
                            <div class="footer-text">
                                <p> Plot no 47, Swami Samarth Nagar,<br> Talathi Colony, Parola,<br> Maharashtra
                                    425111</p>
                            </div>
                            <!-- <div class="footer-social-icon">
                                <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
            
                            </div> -->
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Useful Links</h3>
                            </div>
                            <ul>
                                <li><a routerLink="/home">Home</a></li>
                                <li><a routerLink="about-us">About-Us</a></li>
                                <li><a routerLink="contact-us">Contact-Us</a></li>
                                <li><a routerLink="products">Products</a></li>
                                <li><a routerLink="Recipies">Recipies</a></li>
                                <li><a routerLink="ground-spices">Ground spices</a></li>
                                <li><a routerLink="blended-spices">Blended spices</a></li>

                            </ul>
                        </div>
                    </div>


                    <div class="col-sm-2 footer-widget-heading ">
                        <h3>Contact Us</h3>
                        <div class="footer-text">
                            <p>9168134222</p>
                            <!-- info@mangalamspices.in</p> -->
                        </div> 
                    </div>
                    
                        <div class="col-sm-4 footer-widget-heading ">
                        <h3>Reach us</h3>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3727.8044695064605!2d75.13024801493016!3d20.879929986079222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd93705a7fcfcf5%3A0x519bd97268cd0cd6!2sMangalam%20spices!5e0!3m2!1sen!2sin!4v1612428396288!5m2!1sen!2sin"
                            width="300" height="200" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>

                </div>
            </div>
        </div>
        <div class="copyright-area">
            <!-- <div class="container"> -->
                <div class="row">
                    <div class="col-xl-12 text-center ">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2021 All Right Reserved <a href="https:///mangalam/">Mangalam</a>
                            </p>
                        </div>
                    </div>                   
                </div>
            <!-- </div> -->
        </div>


    <i class="fas fa-chevron-up"></i>  
</footer>
   
    
</div>