/* navbar */

.toolbar{
  margin: 0;
  padding: 0;
	background-color:burlywood
}
	.toolbar a{
		
		margin-right: 50px;
		list-style: none;
		margin: 10px;
		display: inline-block;
		line-height: 50px;


		text-decoration: none;
		color:black;
		font-size: 20px;
		transition: .4s;
	}
.toolbar a.active,
.toolbar a:hover{
	background:rgb(252, 252, 54);
	border-radius: 2px; 
}

 .imglogo{
	 height: 60px;
   margin-left: 0%;
	 
 }
 .mat-drawer-content {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    overflow: initial;
}

/* boottom section */
#bottom {
	background: #232323;
	font-size: 15px;
  }
    #bottom ul {
	  line-height: 5px;
	  margin: 1em 0;
	  list-style: none;
	  margin-left: 75px;
  }
  
  #bottom ul li {
	display: block;
	padding: 10px 0;
	color:#ffffff;
  }
  #bottom li:before{
	  content: "";
	  border-color: transparent #FFFFFF;
	  border-style: solid;
	  border-width: 0.35em 0 0.35em 0.45em;
	  display: block;
	  height: 0;
	  margin-left: -15px;
	  top: 5px;
	  position: relative;
  }
    .col-md-12 {
	  color: white;
	  text-align: center;
  }
 .col-md-12 p{
	color: white;
	text-align: center;
}
/* footer css */
ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background:burlywood;
  /* position: relative; */
}
.footer-cta {
  border-bottom: 1px solid peru;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color:black;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: black;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.pb-5, .py-5 {
	padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 350px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
	max-width: 100px;
	padding: 10px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 25px;
      color: black;
  line-height: 28px;
}
.footer-social-icon span {
  color:#fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color:black;
  font-size: 50px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #000000;
  font-size: 25px;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: burlywood;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: brown;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}



i{
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 25px;
  background: pink;
  padding: 5px 7px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  border: 1px solid #0D47A1;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease-in-out;
}
i:hover{
  transition: .5s;
  background: #0d4aa5;
}






























