@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Noto+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap');

h1{
  font-family: 'Dancing Script', cursive;
	font-family: 'Noto Serif', serif;
  /* font-family: 'Amita', cursive; */
	user-select: none;
  color:black;
  margin-right:500px;
  max-width:100%;
  text-align: left;
  
}
p {
  font-family: Lato;
  font-size: 20px;
 color: black;
 text-align: left;
}
.container{
  margin-top:10px;
  color:palevioletred;
  max-width:100%;
}
mat-slider {
  width: 300px;
}

button {
  background-color: palevioletred;
 }

.example-header-image {
   background-image: url('/assets/blended-spices.jpg');
   background-size:cover;
 }
.example-header-image {
  background-image: url('/assets/card2.jpg');
  background-size:cover;
}


.example-header-image {
  background-image: url('/assets/instant.jpg');
  background-size:cover;
}


 .example-header-image{
  background-image:url('/assets/pickles.jpg') ;
  background-size: cover;
  
}
.mat-card{
  margin-bottom: 20%;
  margin-left: 20%;
  margin-right: 20%;
}
.mat-card-image{
  display: block;
  border: 55px !important;
  border-radius: 30px !important;
  border: #000 !important;
}
 
 
 .example-card{
   overflow: hidden;
 }
 .example-card img{
   /* width: 100%; */
   transition: 1s;
 }
 .example-card img:hover{
   transform: scale(1.2);
   cursor: pointer;
 }