  <div class="row">
    <div class="col-md-12">
      <h1> Our Products </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p>
        Mastering masala blending is both an art and science. Given the diversity of culture and the wide variety of
        distinctive cuisines and taste preferences, prevalent across the length and breadth of India, it is a skill that
        needs perfection and it’s not easy. Each spice has its own distinct identity in terms of taste, aroma, flavor,
        color with some even offering numerous health benefits. No wonder, pure spices will always play an integral part
        in Indian cuisine irrespective of the zone, state, community or the cooking method and hence occupies a very
        special place of honor.
      </p>
      <p>
        We at Everest, have mastered this art for over 50 years, perfecting and improving our blends to keep pace with
        ever evolving consumer tastes. At Everest, spices are carefully selected from the finest produce of the season
        from all over the country by our in-house experts. Processing, blending and packing operations are performed at
        our vast, state-of-the-art, highly automated factory under stringent quality and hygiene controls conforming to
        global standards. Every pack that leaves our factory carries the assurance of best quality and purity.
      </p>
      <p>
        Our products offer a wide variety of delicacies which mothers can make at home, Everyday!
      </p>
    </div>
    <div class="col-md-4">
      <img mat-card-image src="/assets/header.jpg" alt="Mangalam-Spices">

    </div>
  </div>

<section>
  <div style="width: 100%; height: 100%; text-align:center;margin:0; padding:0;" class="slide">
    <ng-image-slider #nav [images]="imageObject" [infinite]="true" [autoSlide]="1" [animationSpeed]="1.5"
      [imageSize]="{width: '100%', height: '50%'}" slideImage="1" [imagePopup]="false" [showArrow]="false">
    </ng-image-slider>

  </div>
</section>

  <div class="row">
    <div class= "col-md-12  card-heading">
      <h1><b><i> Our Popular flavors</i></b></h1>
    </div>
  </div>
  <div class="row">

  <div class="col-md-4">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>GROUND-SPICES </mat-card-title>
      <mat-card-subtitle>MANGALAM</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/wp.jpg" alt="Mangalam-Spices">
    <mat-card-content>
      <p>
        <b> Mangalam provides you good quality of Products.</b>
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button matbutton routerLink="ground-spices">Ground spices</button>
    </mat-card-actions>
  </mat-card>
  </div>
<div class="col-md-4">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>BLENDED-SPICES</mat-card-title>
      <mat-card-subtitle>MANGALAM</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/pc.jpg" alt="Mangalam-Spices">
    <mat-card-content>
      <p>
        <b> Make your food delicious with our spices .</b>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button matbutton routerLink="blended-spices">Blended spices</button>

      
    </mat-card-actions>
  </mat-card>
  </div>
  <div class="col-md-4">
  <mat-card class="example-card">
     <mat-card-header>
       <div mat-card-avatar class="example-header-image"></div> -->
       <mat-card-title>INSTANT MIXES</mat-card-title>
      <mat-card-subtitle>MANGALAM</mat-card-subtitle>
    </mat-card-header> 
    <img mat-card-image src="/assets/instant.jpg" alt="Mangalam-Spices">
    <mat-card-content>
      <p>
        <b> MANGALAM MAGIC </b>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>INSTANT MIXES</button>
    </mat-card-actions>
  </mat-card>
  </div>
  
</div>
<!-- <div class="row">
  <div class="col-md-4">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>PICKLES</mat-card-title>
      <mat-card-subtitle>MANGALAM</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/pickles.jpg" alt="Mangalam-Spices">
    <mat-card-content>
      <p>
        <b> MANGALAM MAGIC </b>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>VIEW MORE</button>
    </mat-card-actions>
  </mat-card>
  </div> -->
  <!-- <div class="col-md-4">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>PICKLES</mat-card-title>
        <mat-card-subtitle>MANGALAM</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/pickles.jpg" alt="Mangalam-Spices">
      <mat-card-content>
        <p>
          <b> MANGALAM MAGIC </b>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>VIEW MORE</button>
      </mat-card-actions>
    </mat-card>
    </div> -->
    <!-- <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>PICKLES</mat-card-title>
          <mat-card-subtitle>MANGALAM</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/pickles.jpg" alt="Mangalam-Spices">
        <mat-card-content>
          <p>
            <b> MANGALAM MAGIC </b>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>VIEW MORE</button>
        </mat-card-actions>
      </mat-card>
      </div>
  </div> -->





