@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Noto+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap');
/* section one */
*{
	padding: 0;
	margin: 0;
}

.center img{
width: 100%;
height:700px;
}
 
  .center h1{
	font-family: 'Amita', cursive;
	position: absolute;
	top: -400px;
	left: 50%;
	transform: translate(-50%,-50%); 
	user-select: none;
}  

/* section two */
.center h1{
	/* font-family: 'Dancing Script', cursive; */
	/* font-family: 'Noto Serif', serif; */
	display: block;
	 width: fit-content;
	font-size: 4rem;
	position: relative;
	color : transparent;
	user-select: none;
	animation: text_reveal 1s ease forwards;
	animation-delay: 1.5s;	
}

.center h1 span{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay: 1s;
}
@keyframes text_reveal_box{
	50%{
		width: 100%;
		left: 0;
	}
	100%{
		width: 0;
		left: 100%;
	}
}

@keyframes text_reveal{
	100%{
		color: white;
	}
}
/* end section two */



/* section three */
.para h1{
	font-family: 'Dancing Script', cursive;
	font-family: 'Noto Serif', serif;
	color: black;
	font-weight: bold;
	text-align: left;
	margin-bottom: 25px;
}
.para h2{
	margin-top: 20px;
	font-family: 'Dancing Script', cursive;
    font-family: 'Noto Serif', serif;
	color: black;
	font-weight: bold;
	text-align: left;
	margin-bottom: 25px;
}
.para p{
	font-size: 20px;
	color: black;
	text-align: left;
}
.model img{
	height: 60%;
	width: 60%;
	transition: all 2s ease-out;
	-webkit-transition: all 2s ease-out;
}
/* end section three */
.next{
	
	margin-top: 25px;
	background: url('/assets/vaishu.jpeg') no-repeat;
	background-size : cover;
	height: 70vh;
	position: relative;
	z-index: 1;
}
.next::after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .8;
	z-index: -1;
}	
.next p{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%); 
	user-select: none;
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
    color: white;
    justify-content: center;
    min-height: 100%
}

/*img animation */

 img{
	height: 300px;
	width: 300px;

}

.boxes{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60vh;
	background: #000;
}
.box{
	position: relative;
	width: 200px;
	height: 200px;
	transform-style:preserve-3d ;
	animation: animate 100s linear infinite;
}

@keyframes animate
{
0%{
	transform: perspective(1000px) rotateY(0deg);
}
100%{
	transform: perspective(1000px) rotateY(360deg);
}
}
.box span{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-origin: center ;
	transform-style: preserve-3d ;
	transform: rotateY(calc(var(--i) * 45deg))translateZ(400px);
	-webkit-box-reflct:below 0px ;
}

.box span img{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;

}