<div class="container-fluid">
  <div class="row">
    <div class="col-md-12"> 
      <div class="center">
        <img src="assets/home.jpg" class="image">
        <h1> मंगलम मसाले <span></span> </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="para">
        <h1>About Mangalam Masale</h1>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
          Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
          PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="model">
      <img src="assets/jothika.png" class="image">
    </div>
  </div>
  </div>
  
  <!-- <div class="row">
    <div class="col-md-12">
      <div class="next">
        <p>The Power of Food is really Spiritual.
          It not only brings the whole family together on the same table,
          but also bring the whole world together.
          </p>
      </div>
    </div>
  </div> -->
  
  <div class="row">
    <!-- <div class="col-md-3"></div> -->
    <div class="col-md-12">
      <div class="para">
        <h2>Our House of Spices</h2>
        <p> Mangalam Masala offers different forms of Indian Spices like masala powders, 
          spice powders etc. You can find a list of all our products on this site along
           with a wide range of traditional Indian curry recipes such as chicken masala,
            butter chicken masala, simple chicken curry recipe etc.
        </p>
      </div>
    </div>
    <!-- <div class="col-md-3"></div> -->
  </div>
  <div class="row">
    <div class="col-md-12"><br> </div>
  </div>
  <!-- slider begins -->
<!-- <div class="row">
  <div class="col-md-12">
<div class="boxes">
<div class="box">
  <span style="--i:1"><img src="/assets/re.jpg" alt=""></span>
  <span style="--i:2"><img src="/assets/image1.jpg" alt=""></span>
  <span style="--i:3"><img src="/assets/biryani.jpg" alt=""></span>
  <span style="--i:4"><img src="/assets/biryani.jpg" alt=""></span>
  <span style="--i:5"><img src="/assets/re.jpg" alt=""></span>
  <span style="--i:6"><img src="/assets/biryani.jpg" alt=""></span>
  <span style="--i:7"><img src="/assets/image1.jpg" alt=""></span>
  <span style="--i:8"><img src="/assets/biryani.jpg" alt=""></span>
</div>
</div>
</div>
</div> -->
<!-- slider ends -->
<div class="row">
  <div class="col-md-12"><br> </div>
</div>
</div>
